/*reset*/
*{
 margin: 0;
 padding: 0;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-weight: 100;
}
a:link {
    color: white;
}
/* visited link */
a:visited {
    color: white;
}
/* mouse over link */
a:hover {
    color: white;
}
/* selected link */
a:active {
    color: white;
}

/*background*/
.radial-blur-background {
      height: 640px;
      background-image: radial-gradient(circle at 50%, #075757, #110f0f 55%);
      position: relative;
}

/* font */

@font-face {
    font-family: 'AppleSymbols';
    src: url('./css/font/Apple Symbols.ttf')  format('truetype'),
}
/* global font */
html, body,h1{
   font-size: 1em !important;
   color: #fbf5f5 !important;
   font-family: 'AppleSymbols' !important;
}


/* -----------base.leaf PAGE------------- */

.csstransforms .cn-wrapper {
  font-size:1em;
  width: 26em;
  height: 26em;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  bottom: -13em;
  left: 50%;
  border-radius: 50%;
  margin-left: -13em;
  transform: scale(0.1);
  transition: all .3s ease;
}
/* class applied to the container via JavaScript that will scale the navigation up */
.csstransforms .opened-nav {
  border-radius: 50%;
  transform: scale(1);
}
.cn-button {
  border:none;
  background:none;
  color: white;
  text-align: Center;
  font-size: 1.5em;
  padding-bottom: 1em;
  height: 3.5em;
  width: 3.5em;
  background-color: #111;
  position: fixed;
  left: 50%;
  margin-left: -1.75em;
  bottom: -1.75em;
  border-radius: 50%;
  cursor: pointer;
  z-index: 11
}
.cn-button:hover,
.cn-button:active,
.cn-button:focus{
  background-color: #222;
}

.cn-overlay{
  width:100%
  height:100%;
  background-color: rgba(0,0,0,0.6);
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  opacity:0;
  transition: all .3s ease;
  z-index:2;
  pointer-events:none;
}

/* Class added to the overlay via JavaScript to show it when navigation is open */
.cn-overlay.on-overlay{
  pointer-events:auto;
  opacity:1;
}

.csstransforms .cn-wrapper li {
  position: absolute;
  font-size: 1.5em;
  width: 10em;
  height: 10em;
  transform-origin: 100% 100%;
  overflow: hidden;
  left: 50%;
  top: 50%;
  margin-top: -1.3em;
  margin-left: -10em;
  transition: border .3s ease;
}

.csstransforms .cn-wrapper li a {
  display: block;
  font-size: 1.18em;
  height: 14.5em;
  width: 14.5em;
  position: absolute;
  bottom: -7.25em;
  right: -7.25em;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  padding-top: 1.8em;
  text-align: center;
  transform: skew(-50deg) rotate(-70deg) scale(1);
  transition: opacity 0.3s, color 0.3s;
}

.csstransforms .cn-wrapper li a span {
  font-size: 1.1em;
  opacity: 0.7;
}
/* for a central angle x, the list items must be skewed by 90-x degrees
in our case x=40deg so skew angle is 50deg
items should be rotated by x, minus (sum of angles - 180)2s (for this demo) */

.csstransforms .cn-wrapper li:first-child {
  transform: rotate(-10deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(2) {
  transform: rotate(30deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(3) {
  transform: rotate(70deg) skew(50deg)
}

.csstransforms .cn-wrapper li:nth-child(4) {
  transform: rotate(110deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(5) {
  transform: rotate(150deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(odd) a {
  background-color: #a11313;
  background-color: hsla(0, 88%, 63%, 1);
}

.csstransforms .cn-wrapper li:nth-child(even) a {
  background-color: #a61414;
  background-color: hsla(0, 88%, 65%, 1);
}

/* active style */
.csstransforms .cn-wrapper li.active a {
  background-color: #b31515;
  background-color: hsla(0, 88%, 70%, 1);
}

/* hover style */
.csstransforms .cn-wrapper li:not(.active) a:hover,
.csstransforms .cn-wrapper li:not(.active) a:active,
.csstransforms .cn-wrapper li:not(.active) a:focus {
  background-color: #b31515;
  background-color: hsla(0, 88%, 70%, 1);
}
.csstransforms .cn-wrapper li:not(.active) a:focus {
  position: fixed; /* fix the "displacement" bug in webkit browsers when using tab key */
}
.no-csstransforms .cn-wrapper{
  font-size:1em;
  height:5em;
  width:25.15em;
  bottom:0;
  margin-left: -12.5em;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  left:50%;
  border:1px solid #ddd;
}

.no-csstransforms .cn-button{
  display:none;
}

.no-csstransforms .cn-wrapper li{
  position:static;
  float:left;
  font-size:1em;
  height:5em;
  width:5em;
  background-color: #eee;
  text-align:center;
  line-height:5em;
}

.no-csstransforms .cn-wrapper li a{
  display:block;
  width:100%;
  height:100%;
  text-decoration:none;
  color:inherit;
  font-size:1.3em;
  border-right: 1px solid #ddd;
}

.no-csstransforms .cn-wrapper li a:last-child{
  border:none;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus{
  background-color: white;
}

.no-csstransforms .cn-wrapper li.active a {
  background-color: #6F325C;
  color: #fff;
}
@media screen and (max-width:480px){
  .csstransforms .cn-wrapper{
    font-size:.68em;
  }
  .cn-button{
    font-size:1em;
  }
  .csstransforms .cn-wrapper li {
    font-size:1.52em;
  }
}

@media screen and (max-width:320px){
  .no-csstransforms .cn-wrapper{
    width:15.15px;
    margin-left: -7.5em;
  }
  .no-csstransforms .cn-wrapper li{
    height:3em;
    width:3em;
  }
}

/* -----------login.leaf PAGE------------- */

/* login form */

/* div container for login form*/
.login-form{
    background-color: rgba(252, 252, 252, 0.02);
    padding: 20px;
    width: 300px;
    position: absolute;
    height: 200px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

/* header */
.login-form-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  background-color: rgba(247, 249, 250, 0.3);
  width: inherit;
  height: 50px;
  position: absolute;
  margin: -72px -20px;
}
/* login form */
.login-form input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(247, 249, 250, 0.3);
    color: rgba(255, 255, 255, 1);
  	text-shadow: 0px 0px 10px #009da6;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0px 0px 10px #009da6;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0px 0px 10px #009da6;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0px 0px 10px #009da6;
}

.login-form input[type=submit] {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0px 100px;
    cursor: pointer;
    background-color: rgba(36, 173, 173, 0.58);
	  border-color: rgba(96, 213, 219, 0.9);
	  border-style:solid;text-shadow: 2px 3px 8px #009da6;
}

.login-form input[type=submit]:hover {
    background-color: rgb(35, 166, 44);
    border-color: rgba(249, 255, 255, 0.9);
}
/* footer */
.login-form-footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
  background-color: rgba(247, 249, 250, 0.3);
  width: inherit;
  height: 50px;
  position: absolute;
  margin: 25px -20px -100px;
}


/* on click menu for site info*/
.onclick-menu {
    position: relative;
    display: block;
    cursor: pointer;
}
.onclick-menu:before {
    content: "";
}
.onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;

}
.onclick-menu:focus .onclick-menu-content {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;
    width: 80px;

    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
    background-color:rgba(32, 31, 31, 0.9);
    font-size: 10px;
    padding: 10px;
    list-style-type:none;
    border-radius: 2px;
    text-align: left;
    font-weight: 10;
}
.onclick-menu-content {
    position: absolute;
    z-index: 1;
    /* use opacity to fake immediate toggle */
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
}
.onclick-menu-content > li {
  list-style-position:inside;
  border-bottom: 1px solid rgba(177, 176, 180, 0.42);
  padding: inherit;
}
