/*reset*/

*{
 margin: 0;
 padding: 0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:link {
    color: white;
}
/* visited link */
a:visited {
    color: white;
}
/* mouse over link */
a:hover {
    color: white;
}
/* selected link */
a:active {
    color: white;
}

/*background*/
.radial-blur-background {
      height: 640px;
      background-image: radial-gradient(circle at 50%, #075757, #110f0f 55%);
      position: relative;
}
/* font */

@font-face {
    font-family: 'AppleSymbols';
    src: url('./css/font/Apple Symbols.ttf')  format('truetype'),
}
/* global font */
html, body,h1{
   font-size: 1em !important;
   color: #fbf5f5 !important;
   font-family: 'AppleSymbols' !important;
   background-attachment: fixed;
}




/* -----------base.leaf PAGE------------- */
.global-div {
  background-color: rgba(252, 252, 252, 0.03);
  margin: 0px auto;
}
/* header */
.global-div-header {

  background-color: rgba(247, 249, 250, 0.3);
  width: 100%;
  height: 50px;
}
.global-div-body {
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 10px #009da6;
}
/* footer */
.global-div-footer {
  background-color: rgba(247, 249, 250, 0.3);
  width: 100%;
  height: 50px;
}


.user-nav{
  color:white;
  text-shadow: none;

}
.user-nav ul{
  width: 100%;
  padding: 5px;
}
.user-nav table td:nth-child(even) {
  text-align:center;
  padding:5px;
}
.user-nav table td:nth-child(odd) {
  width: 20px;
}
.user-nav li a:hover:not(.active) {
  text-shadow: 1px 1px 10px #fff;

}
.user-nav li.active a {
  text-shadow: 1px 1px 10px #fff;
  font-weight: bold;
}
.log-nav ul{
  width: 100%;
  padding: 5px;
}
.log-nav li a:hover:not(.active) {
  text-shadow: 1px 1px 10px #fff;

}
.log-nav li.active a {
  text-shadow: 1px 1px 10px #fff;
  font-weight: bold;
}


/* -----------login.leaf PAGE------------- */

/* login form */

/* div container for login form*/
.login-form{
    background-color: rgba(252, 252, 252, 0.02);
    padding: 20px;
    width: 300px;
    position: absolute;
    height: 200px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

/* header */
.login-form-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  background-color: rgba(247, 249, 250, 0.3);
  width: inherit;
  height: 50px;
  position: absolute;
  margin: -72px -20px;
}
/* login form */
.login-form input[type=text], .login-form input[type=password]  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(247, 249, 250, 0.3);
    color: rgba(255, 255, 255, 1);
  	text-shadow: 0px 0px 10px #009da6;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.5);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.5);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.5);
}

.login-form input[type=submit] {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0px 100px;
    cursor: pointer;
    background-color: rgba(36, 173, 173, 0.58);
	  border-color: rgba(96, 213, 219, 0.9);
	  border-style:solid;text-shadow: 2px 3px 8px #009da6;
}

.login-form input[type=submit]:hover {
    background-color: rgb(35, 166, 44);
    border-color: rgba(249, 255, 255, 0.9);
}
/* footer */
.login-form-footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
  background-color: rgba(247, 249, 250, 0.3);
  width: inherit;
  height: 50px;
  position: absolute;
  margin: 18px -20px -50px;
}


/* on click menu for site info*/
.onclick-menu {
    position: relative;
    display: block;
    cursor: pointer;
    outline:none;
}
.onclick-menu:before {
    content: "";
}
.onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;

}
.onclick-menu:focus .onclick-menu-content {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;
    width: 80px;

    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
    background-color:rgba(32, 31, 31, 0.9);
    font-size: 10px;
    padding: 10px;
    list-style-type:none;
    border-radius: 2px;
    text-align: left;
    font-weight: 10;
}
.onclick-menu-content {
    position: absolute;
    z-index: 1;
    /* use opacity to fake immediate toggle */
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
}
.onclick-menu-content > li {
  list-style-position:inside;
  border-bottom: 1px solid rgba(177, 176, 180, 0.42);
  padding: inherit;
}


/* -----------user.leaf PAGE------------- */
input[type='checkbox'].toggle {
  display: none;
}
.lbl-toggle {
  display: block;
  text-align: left;
  color: #fbfaf6;
  cursor: pointer;
  background-color: rgba(252, 254, 253, 0.40);
  padding: 8px;
  margin-bottom: 1px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #222121;
  background-color: rgba(252, 254, 253, 0.60);
}
.lbl-toggle:active {
  color: #222121;
  background-color: rgba(3, 251, 127, 1);
}
.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}
.collapsible-content .content-inner {
  border-left: 1px solid rgba(4, 221, 251, 0.45);
  padding: .5rem 1rem;
}
/* collapsible header */
.collapsible-content input[type=text], .collapsible-content select{
    width: 100%;
    padding: 5px 13px;
    margin: 8px 0;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(247, 249, 250, 0.3);
    color: rgba(255, 255, 255, 1);
  	text-shadow: 0px 0px 10px #009da6;
}
.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 450px;
}
.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}





/* -----------index.leaf PAGE------------- */
.search-container input[type=text]  {
    width: 100%;
    box-sizing: border-box;
    border:none;
    border-bottom: 2px solid #ccc;
    font-size: 18px;
    background: none;
    background-repeat: no-repeat;
    padding: 6px 10px 6px 25px;
    color: white;
    border-radius: 0;
    -webkit-appearance: none;
}
.search-container input[type=text]:focus{
    box-shadow: 0px 0px -10px #009da6;
    outline:none;

}
.search-container{
  position: relative;
  height: 33px;
}
.search-container i{
  position: absolute;
  bottom:25px;
  padding:0px 5px 0px 5px;
  color:rgb(180, 182, 180);
}
.search-container i:hover{
  text-shadow: 0px 0px 10px #009da6;
  color:rgb(255, 255, 255);
}


.profileImage{
  width: 25px;
  height: auto;
  border-radius: 50%;
}

.postForm-input-container {
  padding-top: 35px;
}

.postForm-input-container textarea{
  width: 85%;
  resize: none;
  box-sizing: border-box;
  border: none;
  font-size: 13px;
  background: none;
  margin-top: 18px;
  outline:none;
  color: white;
}
.postForm-Text::placeholder {
  text-shadow: none;
}
.postForm-input-container img {
  color:rgb(180, 182, 180);
  vertical-align: middle;
  width: 50px;
  height: auto;
  border-radius: 50%;
  border:2px solid rgb(255, 255, 255);
}
.container-postSection .global-div-footer {
  margin: 0px auto;
  height:auto;
  background: none;
  padding-left: 10px;
}
.postForm-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(36, 173, 173, 0.58);
  border-color: rgba(96, 213, 219, 0.9);
  border-style:solid;text-shadow: 2px 3px 8px #009da6;
}
.postForm-button:hover {
  background-color: rgba(16, 254, 4, 0.58);
  border-color: white;
}
/* cellspacing */
.postForm-footer{ border-collapse: separate; border-spacing: 4px; } /* cellspacing="5" */
.postForm-footer{ border-collapse: collapse; border-spacing: 10px; }
.postForm-footer tr, .postForm-footer td { padding: 4px; }
.media {
  cursor:pointer;
}
.media i:hover , .media select:hover {
  opacity: 0.7;
}

/* cellspacing */
.commentsTable{ border-collapse: separate; border-spacing: 5px;table-layout:fixed;overflow: hidden;min-width: 400px;} /* cellspacing="5" */
.commentsTable{ border-collapse: collapse; border-spacing: 10px; }
.commentsTable td { padding-right: 5px;}
.commentsTable td { padding-right: 5px;}


/* cellspacing */
.comment-form{ border-collapse: separate; border-spacing: 4px; }
.comment-form{ border-collapse: collapse; border-spacing: 5px; }
.comment-form tr,.comment-form td { padding: 0px; }

.comment-form input[type=text] {
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  background: none;
  outline:none;
  background-repeat: no-repeat;
  color: white;
  border:none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  -webkit-appearance: none;
}
.comment-form input[type=submit] {
  height: 25px;
  width: 25px;
  margin-top: 10px;
  border-radius: 50%;
  border: none;

  cursor: pointer;
  background-color: rgba(36, 173, 173, 0.58);
  border-color: rgba(96, 213, 219, 0.9);
  text-shadow: 2px 3px 8px #009da6;
}
.commentsContainer{
  display: none;
}

/* Tablet and mobile Version*/
@media screen and (max-width: 959px){
  .container {
    /* occupy the whole screen width when using mobile and tablet */
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap:5px;
    grid-template-areas:
    "container-searchSection"
    "container-userSection"
    "container-postSection"
    "container-feedSection"
    "container-extraSection"
  }
  /* .container div:nth-child(odd) { background-color: rgba(84, 189, 183, 0.20);}
  .container div:nth-child(even) { background-color: rgba(84, 189, 183, 0.10);} */

  .container-searchSection {
    grid-area: container-searchSection;
  }
  .container-userSection {
  	grid-area: container-userSection;
    display: none;
  }
  .container-postSection {
  	grid-area: container-postSection;

  }
  .container-feedSection {
  	grid-area: container-feedSection;
  }
  .container-extraSection {
  	grid-area: container-extraSection;
    display: none;
  }
  .global-div-body2 {
    height: 485px;
  }
}
/* Desktop Versio */
@media screen and (min-width: 960px){

  .container {
    width: 960px;
    margin: 0px auto;
    margin-top: 10px;
  	display: grid;
  	grid-template-columns: 200px 560px 200px;
  	grid-gap:5px;
  	grid-template-areas:
    "container-searchSection container-searchSection container-searchSection"
  	"container-userSection container-postSection container-extraSection"
  	"container-userSection container-feedSection container-extraSection"
  }
  .container-searchSection {
    grid-area: container-searchSection;
  }
  .container-userSection {
  	grid-area: container-userSection;
    display: none;
  }
  .container-postSection {
  	grid-area: container-postSection;
  }
  .container-feedSection {
  	grid-area: container-feedSection;
  }
  .container-extraSection {
  	grid-area: container-extraSection;
    display: none;
  }
  .container-searchSection input[type=text]{
    width: 100%;
  }
  .container-userSection{
    margin-top: 58px;
    width: 200px;
    position: fixed;
    display: block;
  }
  .container-userSection  .global-div-body {
    height: 400px;
  }
  .usersName img {
    bottom:3px;
  }
  .container-extraSection{
    height: 400px;
    display: block;
    position: fixed;
    margin-top: 38px;
    width: 200px;
    margin-left: 770px;
  }
  .global-div-body2 {
    height: 400px;
  }
}


/* -----------settings.leaf PAGE------------- */
